.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	/* padding: 50px; */
	max-width: 1200px;
	margin: 0 auto;
}

.text-content > h1 {
	font-size: 80px;
	font-weight: bold;
	color: black;
	/* margin-left: -1000px; */
	/* padding: 200px 0 0 0; */
	margin-top: 40px;
	letter-spacing: 0.5px;
	font: "Poppins";
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 83.2px */
	letter-spacing: -1.6px;
	opacity: 0.8;
}

.text-content > p {
	font-size: 25px;
	/* margin: 20px 0; */
	color: black;
	/* margin-left: -1000px; */
	line-height: -1.2px;
	letter-spacing: 1.5px;
	margin-top: 35px;
	opacity: 0.6;
}

.buttons {
	display: flex;
	gap: 20px;
	/* margin-left: -1000px; */
}

.btn {
	padding: 16px 35px; /* Increase padding to make buttons larger */
	border-radius: 40px; /* Increase radius for a more rounded look */
	text-decoration: none;
	font-size: 15px; /* Increase font size for better readability */
	font-weight: bold;
	/* display: inline-block; */
	transition: all 0.3s ease; /* Smooth transition for hover effect */
	margin-top: 45px;
	cursor: pointer;
}

.btn.primary {
	background-color: #007a5c;
	color: white;
	border: none;
}

.btn.secondary {
	border: 2px solid #007a5c;
	color: #007a5c;
	background-color: transparent;
}

/* Optional: Add hover effects for interaction */
.btn:hover {
	transform: scale(1.07); /* Slightly increase size on hover */
}

.phone-image {
	width: 1200px;
	height: auto;
	margin-top: 50px;
	/* padding: 100px 100px 0 100px; */
	max-width: 5000%;
	border-radius: 30px; /* Change this value as needed */
}
