body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure the body takes full width */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: auto;
	margin: 0 auto;
	background-image: url('/public/hero-land-2 (2).jpg');
	background-size: cover; /* Ensures the image covers the entire element */
	background-position: center; /* Centers the image in the element */
	background-repeat: no-repeat; 
	height: 100vh;
}

.text-content > h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.5px;
	font: "Poppins";
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 83.2px */
	letter-spacing: -0.8px;
	opacity: 0.8;
	margin-left: 45px;
}

.text-content > p {
	font-size: 20px;
	margin-left: 45px;
	color: white;
	margin-top: -20px;
	line-height: -1.2px;
	letter-spacing: 1.5px;
	opacity: 0.75;
}

.buttons {
	display: flex;
	gap: 20px;
	margin-left: 20px;
}

.btn {
	padding: 16px 35px; /* Increase padding to make buttons larger */
	border-radius: 40px; /* Increase radius for a more rounded look */
	text-decoration: none;
	font-size: 18px; /* Increase font size for better readability */
	font-weight: bold;
	display: inline-block;
	transition: all 0.3s ease; /* Smooth transition for hover effect */
	margin-top: 45px;
	margin-left: 20px;
}

.btn.primary {
	background-color: #007a5c;
	color: white;
	border: 3px solid #007a5c;
}

.btn.secondary {
	border: 3px solid #007a5c;
	color: #007a5c;
	background-color: transparent;
}

/* Optional: Add hover effects for interaction */
.btn:hover {
	transform: scale(1.07); /* Slightly increase size on hover */
}

.phone-image {
	width: 700px;
	height: auto;
	margin-top: 100px;
	max-width: 5000%;
	border-radius: 30px; /* Change this value as needed */
}
